.href {
  cursor: pointer;
}
.login_header {
  color: #124cc7;
}
.login_header .beepond_logo {
  color: #124cc7;
  font-size: 18px;
  padding: 0.5em;
}
.login_header .beepond_logo small {
  font-size: 14px;
}
.graybox {
  margin-top: 2em;
}
.pagination {
  margin: 0px;
}
input[type=text].form-control.error,
select.form-control.error {
  border: 1px solid #a94442;
  background: #f2dede;
}
.panel-title .switch {
  float: left;
  margin-right: 5px;
  position: relative;
}
.panel-title .switch input[type="checkbox"] {
  display: none;
}
.panel-title .switch label {
  color: #333333;
  margin-bottom: 0;
  margin-top: -20px;
  cursor: pointer;
}
.panel-title .switch label > i.inverted.icon {
  background: #fff;
  color: #999999;
  border: 1px solid #dddddd;
}
.panel-title .switch label > i.inverted.icon:hover,
.panel-title .switch label > i.inverted.icon:focus {
  background: #fff;
  color: #333333;
  border: 1px solid #dddddd;
}
.panel-title .switch input[type="checkbox"]:checked + label > i.inverted.icon {
  background: #124cc7;
  color: #ffffff;
  border: 1px solid #dddddd;
}
.panel-body label {
  font-weight: normal;
}
.modal-body h1,
.modal-body h2,
.modal-body h3,
.modal-body .h1,
.modal-body .h2,
.modal-body .h3 {
  margin-top: 0;
}
/* Icons */
.originfb {
  color: #FFFFFF;
  background-color: #3B5998;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Icon Feeds Toggle */
.feedswitch input[type="checkbox"] {
  display: none;
}
.feedswitch label {
  cursor: pointer;
}
.feedswitch label > i.icon.feedstatus:before {
  content: "\f05e";
  color: #D95C5C !important;
  font-size: 1.6em;
}
.feedswitch input[type="checkbox"]:checked + label > i.icon.feedstatus:before {
  content: "\f00c";
  color: #A1CF64 !important;
}
.feedtypegroup input[type="checkbox"] {
  display: none;
}
.feedtypegroup label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
}
.feedtypegroup label.istext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.feedtypegroup label.isimage {
  border-radius: 0;
}
.feedtypegroup label.isvideo {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.feedtypegroup input[type="checkbox"]:checked + label {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.feedtypegroup input[type="checkbox"]:checked + label:hover,
.feedtypegroup input[type="checkbox"]:checked + label:focus,
.feedtypegroup input[type="checkbox"]:checked + label:active,
.feedtypegroup input[type="checkbox"]:checked + label.active,
.open .dropdown-toggle.feedtypegroup input[type="checkbox"]:checked + label {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}
.feedtypegroup input[type="checkbox"]:checked + label:active,
.feedtypegroup input[type="checkbox"]:checked + label.active,
.open .dropdown-toggle.feedtypegroup input[type="checkbox"]:checked + label {
  background-image: none;
}
.feedtypegroup input[type="checkbox"]:checked + label.disabled,
.feedtypegroup input[type="checkbox"]:checked + label[disabled],
fieldset[disabled] .feedtypegroup input[type="checkbox"]:checked + label,
.feedtypegroup input[type="checkbox"]:checked + label.disabled:hover,
.feedtypegroup input[type="checkbox"]:checked + label[disabled]:hover,
fieldset[disabled] .feedtypegroup input[type="checkbox"]:checked + label:hover,
.feedtypegroup input[type="checkbox"]:checked + label.disabled:focus,
.feedtypegroup input[type="checkbox"]:checked + label[disabled]:focus,
fieldset[disabled] .feedtypegroup input[type="checkbox"]:checked + label:focus,
.feedtypegroup input[type="checkbox"]:checked + label.disabled:active,
.feedtypegroup input[type="checkbox"]:checked + label[disabled]:active,
fieldset[disabled] .feedtypegroup input[type="checkbox"]:checked + label:active,
.feedtypegroup input[type="checkbox"]:checked + label.disabled.active,
.feedtypegroup input[type="checkbox"]:checked + label[disabled].active,
fieldset[disabled] .feedtypegroup input[type="checkbox"]:checked + label.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.feedtypegroup input[type="checkbox"]:checked + label .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media (min-width: 768px) {
  .nav {
    position: relative;
    z-index: 2;
  }
  h1,
  h2,
  h3,
  .h1,
  .h2,
  .h3 {
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  html {
    -ms-overflow-style: scrollbar;
    overflow: hidden;
    height: 100%;
  }
  html body {
    overflow: auto;
    height: 100%;
  }
  /* unset bs3 setting */
  .modal-open {
    overflow: auto;
  }
}
/*# sourceMappingURL=beepond-admin.css.map */